.camera {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fcfcfc;
}

.camera__icon--loading {
  position: absolute;
  width: 152px;
  height: 152px;
  top: 40%;
  left: 45%;
  transition: all 300ms ease;
}

.loading__title {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  width: 227px;
  height: 24px;
  top: 55%;
  left: 45%;
  transition: all 300ms ease;
}

.directions__loading {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #1a1b1c;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 3;
}

.direction__item--loading {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1a1b1c;
}

.camera video,
.camera img.webcam {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.camera .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  filter: invert();
}

.directions {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fcfcfc;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 3;
}

.directions__row {
  display: flex;
  gap: 32px;
}

.direction__item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fcfcfc;
  transition: color 0.3s ease;
}

.direction__item img {
  filter: invert();
}

.direction__item.met {
  color: #111010;
  font-weight: 400;
}

.img__captured {
  top: 356px;
  left: 756px;
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 758px;
  transition: all 300ms ease;
}

.capture__btn {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: #fcfcfc;
  text-transform: uppercase;
  z-index: 3;
}

.capture__btn img {
  width: 40px;
  height: 40px;
}

.bottombar {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.camera__btns {
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 80%;
}
.retake__btn {
  color: #fcfcfc;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 48px;
  transition: all 300ms ease;
}

.upload__btn {
  gap: 8px;
  color: #fcfcfc;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 300ms ease;
}

.left__arrow--btn,
.right__arrow--btn {
  filter: invert();
  width: 44px;
  height: 44px;
}

.left__arrow--btn {
  position: absolute;
  bottom: 32px;
  left: 15px;
}

.retake__btn:hover,
.upload__btn:hover {
  color: #c9c9c9;
}

@media (max-width: 1500px) {
  .camera__icon--loading {
    position: absolute;
    left: 45%;
  }
  .loading__title {
    position: absolute;
    left: 45%;
  }
}

@media (max-width: 1200px) {
  .camera__icon--loading {
    position: absolute;
    width: 152px;
    height: 152px;
    top: 40%;
    left: 43%;
  }
  .loading__title {
    position: absolute;
    top: 55%;
    left: 43%;
  }
}

@media (max-width: 768px) {
    .camera__btns {
        gap: 60%;
    }
  .camera__icon--loading {
    left: 41%;
  }
  .loading__title {
    left: 40%;
  }
}

@media (max-width: 550px) {
  .camera__btns {
    gap: 50%;
  }
  .camera__icon--loading {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 45%;
    left: 43%;
  }
  .loading__title {
    position: absolute;
    font-size: 12px;
    top: 55%;
    left: 39%;
  }
}
