.demographics {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.demographics__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #1a1b1c;
  font-weight: 400;
  width: 100%;
  max-width: 600px;
}

.demographics__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: 33%;
  gap: 8px;
  transform: translateY(-164px);
  cursor: pointer;
  transition: all 300ms ease;
}

.demographics__description h1 {
  width: 100%;
  max-width: 600px;
  word-wrap: break-word;
  font-size: 72px;
  transition: all 300ms ease;
}

.demographics__description p {
  font-size: 16px;
  opacity: 0.8;
}

.demographics__tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.left__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 12%;
}

.tab__card {
  background: #e1e1e2;
  text-align: start;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 2px solid #1a1b1c;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  transition: all 300ms ease;
}

.tab__card h2 {
  color: #1a1b1c;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 16px;
}

.tab__card h2,
.tab__card h3 {
  font-size: 16px;
  color: #1a1b1c;
}

.tab__card.active {
  background: #1a1b1c;
}

.tab__card.active h2,
.tab__card.active h3 {
  color: #fcfcfc;
}

.middle__column {
  background: #e1e1e2;
  text-transform: uppercase;
  border-top: 2px solid #1a1b1c;
  height: 500px;
  width: 60%;
  max-width: 1500px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle__column h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  align-self: flex-start;
}

.graph {
  width: 400px;
  height: 400px;
  align-self: flex-end;
  transition: all 300ms ease;
}

.right__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #e1e1e2;
  border-top: 2px solid #1a1b1c;
  width: 25%;
  transition: all 300ms ease;
}

.right__column--title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  padding: 8px;
}

.right__column--description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  text-transform: capitalize;
}

.row.active {
  background: #1a1b1c;
  color: #fff;
}

.label {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button__icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

@media (max-width: 1356px) {
  .middle__column {
    width: 59%;
  }

}
@media (max-width: 1023px) {
  .middle__column {
    width: 58%;
  }
}

@media (max-width: 823px) {
  .middle__column {
    width: 54%;
  }
  .graph {
    width: 350px;
    height: 350px;
  }
  .right__column {
    width: 28%;
  }
}

@media (max-width: 728px) {
  .graph {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 690px) {
    .middle__column {
        width: 53%;
    }
}

@media (max-width: 596px) {
  .demographics__description h1 {
    font-size: 48px;
  }
  .left__column {
    width: 100%;
  }
  .middle__column {
    width: 100%;
  }
  .right__column {
    width: 100%;
  }
}
