.back__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 880px;
  bottom: 8px;
  left: 32px;
  gap: 16px;
  max-width: 200px;
  z-index: 10;
}

.back__btn img {
    width: 44px;
    height: 44px;
}

.back__btn h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}